<%= form_for(@approval) do |f| %>
  <% if @approval.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@approval.errors.count, "error") %> prohibited this approval from being saved:</h2>

      <ul>
      <% @approval.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :asset_id %><br />
    <%= f.number_field :asset_id %>
  </div>
  <div class="field">
    <%= f.label :approval_routing_scheme_id %><br />
    <%= f.number_field :approval_routing_scheme_id %>
  </div>
  <div class="field">
    <%= f.label :approval_state_id %><br />
    <%= f.number_field :approval_state_id %>
  </div>
  <div class="field">
    <%= f.label :comments %><br />
    <%= f.text_area :comments %>
  </div>
  <div class="field">
    <%= f.label :requester_id %><br />
    <%= f.number_field :requester_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
